.bookItem {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.author {
    font-style: italic;
}

.bookName {
    font-weight: 600;
}

.genrePublishDateRow {
    margin-top: 0.4em;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-variant: small-caps;
}
